{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Coach</title>
</head>
<body>
    <div class="sidenav">
        <div class="ab">
			<span style="color: white ;" class="name_h"> P</span>
			<span style="color: #D9C61B ;"class="name_h"> M</span>
			<span style="color: white ;" class="name_h"> S</span>
		</div>
        <div class="options">
            <a href="{% url 'player' %}" >Players</a>
            <a href="{%  url 'coaches' %}" class="selected">Coaches</a>
            <a href="{% url 'team' %}" >Teams</a>
            <a href="{%  url 'logout' %}" style="color: #D9C61B ;">Logout</a>
        </div>
    </div>
    <h2 style="margin-left: 300px; margin-top: 100px;">Coach Profile</h2>
    <div class="container">
        <div class="image-container" id="add-container" >
            <img class="image1" src="{% static "image/pj.jpg" %}" alt="" id="add-preview">
        </div>
    <div class="detail_container">
        <p class="normal">Name: Phill Jackson </p><br>
        <p class="small">Age: 49 </p>
        <p class="large_j"> Mobile Number 1234567890 </p><br>
        <p class="normal">Email ID: philjackson@gmail.com </p><br>
        <p class="normal">Address: 221, Baker's Street </p><br>
        <p class="normal">London </p><br>
        <p class="normal">United Kingdoms </p><br>
        <button type="button" class="delete">DELETE</button>
    </div>
    </div>
    
    
</body>
</html>